.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse' }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand= link_to 'SpareTimeStartups.com', root_path
      -#.nav-collapse
      -#  %ul.nav.pull-right
      -#    %li
      -#      = link_to 'Login', '#'
